.pop-cities-container{
    padding-top: 14px;
    grid-area: top-city;
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        column-gap: 28px;
        .card{
            display: flex;
            height: 400px;
            flex-direction: column;
            border-radius: 1em;
            img{
                border-radius: inherit;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}