footer {
  @media (max-width: 1150px) {
    margin-bottom: 95px;
  }

  .footer-container {
    grid-area: content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
}
