.app-header {
  background-color: white;

  min-height: 83px;
  &.homepage {
    background-color: black;
    border: none;
    z-index: 20;
  }
  &.stay-list {
    position: sticky;
    top: 0px;
    z-index: 30;
  }
  .header-container {
    grid-area: content;
    display: flex;
    justify-content: center;
    .logo-container {
      display: none;
    }
    nav {
      .user {
        cursor: pointer;
        position: relative;
        .notification {
          position: absolute;
          background-color: #ff385c;
          height: 10px;
          width: 10px;
          border-radius: 2em;
          top: 0px;
          left: 0px;
        }
        .user-pic {
          border-radius: 2em;
          height: 32px;
          width: 32px;
          object-fit: cover;
        }
        .user-nav-menu-modal {
          color: black;
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: white;
          text-decoration: underline 0.5px;
          padding-inline: 8px;
          padding-block: 24px;
          border-radius: 16px;
          border: 1px lightgray solid;
          a {
            margin-top: 4px;
          }
        }
      }
    }
    @media (max-width: 1149px) {
      nav {
        position: fixed;
        bottom: 0px;
        background-color: white;
        width: 100%;
        height: 10vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        font-size: 12px;
        z-index: 30;
        .user {
          .user-nav-menu-modal {
            right: 0px;
            top: -8px;
            transform: translateY(-100%);
            width: 30vw;
            font-size: 18px;
          }
        }
      }
    }
  }

  @media (min-width: 1150px) {
    border-bottom: 1px solid $light-grey;

    .header-container {
      display: grid;
      grid-template-columns: 0.44fr 1fr 0.44fr;
      grid-template-areas: "logo search nav";
      .logo-container {
        display: flex;
        align-items: flex-start;
        grid-area: logo;
        padding-top: 25px;
        .img-logo {
          object-fit: cover;
          height: 30px;
          width: 30px;
        }
        .text-logo {
          color: rgb(255, 56, 92);
          padding-left: 5px;
        }
      }
      .search-container {
        grid-area: search;
      }
      nav {
        .home {
          display: none;
        }
        display: flex;
        font-weight: 500;
        justify-content: flex-end;
        align-items: flex-start;
        grid-area: nav;
        padding-top: 32px;
        > *:not(:last-child) {
          margin-right: 35px;
        }
        .user {
          .user-nav-menu-modal {
            right: 8px;
            width: 8vw;
          }
        }
      }

      &.homepage {
        grid-template-columns: 0.44fr 1fr 0.44fr;
        grid-template-areas: "logo search nav";
        color: white;
        .logo-container {
          .text-logo {
            color: white;
          }
        }
      }
    }
  }
}
