.hero-container {
  display: grid;
  grid-template-columns: minmax(0, 150px) 1fr minmax(0, 150px);
  grid-area: hero;
  background-color: black;
  .img-container {
    height: 60vh;
    position: relative;
    grid-column: 2/3;
    max-width: 83.5vw;
    img {
      border-radius: 0.5em;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .hero-txt {
      color: white;
      font-weight: 400;
      font-size: 22px;
      position: absolute;
      width: 100%;
      top: 60%;
      text-align: center;
    }
  }
}
