.icon-filters-container {
  display: flex;
  background-color: #fff;
  z-index: 10;
  @media (max-width: 849px) {
    flex-direction: column;
    display: none;
    width: 100%;
    padding-block: 20px;
    position: absolute;
    padding-left: 20px;
    height: 44vh;
    overflow: scroll;
    border-radius: 0 0 1em 1em;
  }
  justify-content: space-between;
  .filter-container {
    padding-bottom: 13px;
    display: flex;
    align-items: center;

    .icon-container {
      height: 25px;
      width: 25px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
@media (min-width: 850px) {
  .icon-filters-container {
    width: 100%;
    height: 75px;
    top: 83px;
    position: sticky;
    grid-area: filter;
    align-items: center;

    .filter-container {
      flex-direction: column;
      opacity: 0.5;
      &:hover {
        transition: ease-in;
        transition-duration: 0.2s;
        opacity: 1;
        cursor: pointer;
        box-shadow: inset 0px -2px 0 -0.5px rgb(221 221 221);
      }
      .icon-container {
        text-align: center;
        img {
          justify-self: center;
          align-self: center;
          height: 25px;
        }
      }
      .filter-name {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
