.location-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 500px;
  height: 480px;
  margin-top: 8px;
  border-radius: 3em;
  padding: 40px 55px;
  border: 1px solid $secondary-grey;
  .location-cards-container {
    flex-grow: 1;
    padding-top: 34px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    .card {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      h4 {
        margin-top: 8px;
      }
      .img-container {
        height: 120px;
        img {
          border-radius: 1em;
          object-fit: cover;
          width: 100%;
          height: 100%;
          &:hover {
            outline: 1px solid black;
          }
        }
      }
    }
  }
}

.guest-modal-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  .guests-modal-container {
    z-index: 10;
    position: absolute;
    right: 0px;
    width: 410px;
    background-color: white;
    color: black;
    display: flex;
    margin-top: 8px;
    border-radius: 3em;
    height: 410px;
    padding: 43px 40px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $secondary-grey;
    .guest-input-container {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $light-grey;
      .txt {
        h3 {
          font-size: 15px;
          margin-bottom: 6px;
        }
        h4 {
          font-weight: 400;
        }
      }
      .btn-container {
        display: flex;
        justify-content: space-between;
        width: 110px;
        height: 35px;
        .count-container {
          display: flex;
          align-items: center;
        }
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          border: 1px solid $main-grey;
          border-radius: 3em;
          cursor: pointer;
        }
      }
    }
  }
}

.close-modal-btn{
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}