.stay-main-info-container {
  @media (max-width: 899px) {
    grid-area: info;
    > * {
      padding: 20px 0px;
    }
  }
  .short-info-container {
    .txt-info {
      h4 {
        padding-top: 4px;
        font-weight: 400;
      }
    }
    .host-img-container {
      @media (max-width:899px) {
        margin-top: 20px;
      }
      border-radius: 50%;
      height: 60px;
      width: 60px;
      img {
        border-radius: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }

  .amenities-container {
    h2 {
      color: $main-black;
      @media (max-width: 899px) {
        margin: 10px 0px;
      }
    }
    padding-bottom: 24px;
    padding-top: 30px;
    .amenities {
      max-height: 210px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 0.6fr 0.9fr;
      padding-top: 35px;
      margin-bottom: 20px;
      @media (max-width: 899px) {
        gap: 32px;
      }
      .amenity-icon-container {
        display: flex;
        font-size: 18px;
        line-height: 20px;

        .amenity-txt {
          padding-left: 10px;
        }
      }
    }
    .amenities-btn {
      border: 1px solid $black;
      border-radius: 8px;
      width: fit-content;
      padding: 13px 23px;
      cursor: pointer;
    }
  }
  & > *:not(:last-child) {
    border-bottom: 1px solid rgb(221, 221, 221);
  }
}

@media (min-width: 900px) {
  .stay-main-info-container {
    padding-right: 90px;
    .short-info-container {
      display: flex;
      justify-content: space-between;
      .txt-info {
        display: flex;
        flex-direction: column;
      }
    }
    .amenities-container {
      .amenities {
        padding-top: 50px;
        gap: 20px;
      }
    }

    & > *:not(:last-child) {
      padding-bottom: 24px;
      padding-top: 30px;
    }
  }
}
