.reserve-container {
  @media (max-width: 899px) {
    grid-area: order;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  .reserve-modal {
    font-size: 15px;
    color: $main-black;
    border: 1px solid $secondary-grey;
    border-radius: 12px;
    padding: 18px 24px;
    .top-info {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        display: flex;
        align-items: center;
        font-size: 22px;
        .night-container {
          padding-left: 5px;
          font-size: 16px;
        }
      }
      .reviews {
        text-decoration: underline;
      }
      margin-bottom: 18px;
    }
    .order-datepicker-guest {
      border: 1px solid #b0b0b0;
      font-size: 12px;
      border-radius: 0.5rem;
      margin-top: 18px;
      > * {
        cursor: pointer;
      }
      h3 {
        padding: 1rem 0.5rem;
      }
      &.active {
        border: none;
      }
      .date-picker-modal {
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        align-items: flex-start;
        h3 {
          padding: 1rem 0.5rem;
        }
        .start-date {
          width: 50%;
        }
        .end-date {
          padding-left: 1rem;
          border-left: 1px solid #b0b0b0;
          width: 50%;
        }
        .modal-container {
          position: absolute;
          z-index: 30;
          left: 0px;
          .rdrDefinedRangesWrapper {
            display: none;
          }
          .rdrDateRangeWrapper {
            width: 100%;
          }
        }
      }
      .guests-modal-container {
        border: 0.5px solid #b0b0b0;
        border-radius: 0.4rem;
        @media (max-width: 899px) {
          width: 90vw;
          margin-top: 0px;
        }
      }
      .guests-title {
        border-top: 1px solid #b0b0b0;
      }
    }
    .total-container {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $secondary-grey;
      padding-top: 8px;
      margin-top: 30px;
    }
    h4 {
      text-align: center;
      font-weight: 500;
      margin-top: 8px;
      white-space: normal;
    }
    .reserve-btn {
      margin-top: 20px;
      cursor: pointer;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-red-pink;
      height: 48px;
      border-radius: 8px;
    }
  }
}

@media (min-width: 900px) {
  .reserve-container {
    flex-grow: 1;
    .reserve-modal {
      width: 375px;
      z-index: 10;
      position: sticky;
      top: 20px;
      height: 360px;
      max-width: 1120px;
      justify-self: center;
      align-self: center;
      box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
      .order-datepicker-guest {
        .guests-modal-container {
          width: 100%;
        }
      }
    }
  }

  .night-container {
    font-size: 14px;
    font-weight: 100;
  }
}
