.top-rated-container {
  padding-top: 40px;
  grid-area: content;
  .title {
    margin-bottom: 10px;
    font-size: 40px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 28px;
    .card {
      a {
        display: flex;
        height: 400px;
        flex-direction: column;
        border-radius: 1em;
        cursor: pointer;
        img {
          border-radius: inherit;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        .city-details {
          padding-top:8px;
          .title {
            display: block;
            font-size: 18px;
            font-weight: 600;
          }
          .street {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
