.user-stays-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 949px) {
    max-width: 94vw;
    overflow: scroll;
  }
  > * {
    @media (max-width: 949px) {
      margin-right: 8px;
    }
    border-bottom: 1px solid $light-grey;
    padding-block: 30px;
    font-size: 18px;
  }
}
