button {
  font-size: 18px;
  &:disabled{
    color: lightgray;
  }
}

button:hover:not(:disabled) {
  text-decoration: underline;
}

.accept-btn {
  color: darkgreen;
}
.decline-btn {
  color: darkred;
}
