.homepage-container{
    display: grid;
    grid-template-columns: minmax(0,150px) 1fr minmax(0,150px);
    grid-template-rows: 65vh 1fr 1fr;
    grid-template-areas: "hero hero hero"
    ". top-city ."
    ". top-stay ."
}