.stay-app-container {
  grid-area: content;
  
  .filter-btn-container{
    width: 80px;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 850px) {
  .stay-app-container {
    .filter-btn-container{
      display: none;
    }
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "filter"
      "stay";
  }
}
