.user-details {
  margin-top: 50px;
  min-height: 82vh;
  .user-details-container {
    grid-area: content;
    display: flex;
    .user-details-controls {
      margin-right: 75px;
      .user-details-nav-container {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        > * {
          margin-bottom: 28px;
          display: flex;
          .icon-container{
            height: 32px;
            width: 32px;
            margin-right: 8px;
            img{
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
          &.active{
            margin-left: 12px;
          }
        }
      }
      .log-out-btn{
        cursor: pointer;
        color: darkred;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
