.stay-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 24px;
}
@media (min-width: 850px) {
  .stay-list-container {
    grid-area: stay;
    row-gap: 34px;
    padding-top: 12px;
    padding-bottom: 20px;
  }
}
