* {
  box-sizing: border-box;
}
body {
  font-family: Circular;
  font-size: 15px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  margin-block-end: 0;
  margin-block-start: 0;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-block: 0px;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  padding-left: 0px;
  cursor: pointer;
}

input {
  border: none;
  padding: 0px;
  &:focus-visible {
    outline: none;
  }
}
