.homepage-layout{
    display: grid;
    grid-template-columns: minmax(80px,1fr) auto minmax(80px,1fr);
    grid-template-areas: ". content .";
}

.details-layout{
    display: grid;
    grid-template-columns: minmax(80px,1fr) auto minmax(80px,1fr);
    grid-template-areas: ". content .";
}