.add-review-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1607843137254902);
  padding: 30px 0;
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .loggedin-user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    .MuiAvatar-root {
      width: 60px;
      height: 60px;
    }
  }
  textarea {
    width: 100%;
    height: 100px;
    padding: 20px 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
  }
  button {
    background-image: linear-gradient(90deg, #e61e4d 0, #e31c5f 50%, #d70466);
    padding: 8px 42px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .add-review-container {
    h2 {
      margin-bottom: 30px;
    }
    textarea {
      height: 160px;
    }
    button {
      margin-bottom: 30px;
    }
  }
}
