.user-info-container {
  display: flex;
  justify-content: space-between;
  .profile-details-container {
    img {
      max-height: 100px;
      border-radius: 100%;
    }
  }
  span {
    font-weight: bold;
  }
  @media (min-width: 949px) {
    .profile-details-container {
      img {
        max-height: 200px;
      }
    }
  }
}
