.user-info-container {
  display: flex;
  .profile-details-container {
    .profile-image-container {
      max-width: 200px;
      img {
        object-fit: cover;
        aspect-ratio: 1;
        width: 100%;
        border-radius: 100%;
      }
    }
  }
  span {
    font-weight: bold;
  }
  @media (max-width: 949px) {
    justify-content: space-around;
  }
  @media (min-width: 950px) {
    justify-content: space-between;
    .profile-details-container {
      img {
        max-height: 200px;
      }
    }
  }
}
